build/
node_modules/
third-party/
docs/
packaging/
**/dist/
coverage/
.cpack_artifacts/
public/assets/js/qrcode.min.js

# Exclude Markdown and YAML from formatting
*.md
**/*.md
*.MD
**/*.MD
*.yml
*.yaml
**/*.yml
**/*.yaml
